{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<main role="main">
    <section class="jumbotron text-center text-white">
        <div class="container">
            <h1>Django Newsfeed example</h1>
            <p class="lead text-muted border-bottom border-dark pb-2 mb-0">
                This is a Demo app to showcase django-newsfeed package<br>
                <a class="text-white" href="https://github.com/saadmk11/django-newsfeed">Learn more</a>
            </p>
            <hr />
            <form method="post" class="subscriptionForm" action="{% url 'newsfeed:newsletter_subscribe' %}">
                <div class="input-group input-group-lg">
                    {% csrf_token %}
                    <input name="email_address" required type="email" class="form-control" placeholder="Subscribe to our newsletter" aria-label="Subscribe to our newsletter" />
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg" type="submit">Subscribe</button>
                    </div>
                </div>
                <div id="" class="subscriptionMessage text-white pt-2"></div>
            </form>

        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h3><b>Latest Issue #{{ latest_issue.issue_number }}</b></h3>
            <hr />
            <div class="pt-4 pb-5">
                <h4 class="pb-3"><b>{{ latest_issue.title }}</b></h4>
                <p>{{ latest_issue.short_description }}</p>
                <small>
                    publish date: <b>{{ latest_issue.publish_date|date:"D d M Y" }}</b>
                </small>
            </div>

            {% regroup latest_issue.posts.all|dictsort:"category.order" by category as category_list %}

            {% for category, posts in category_list %}
                <h5><b>{{ category }}</b></h5><hr>
                {% for post in posts %}
                    <div class="row">
                        <div class="col-12">
                            <div class="my-3 p-3 bg-white rounded shadow-sm">
                                <h6 class="border-bottom border-gray pb-2 mb-0"><b><a href="{{ post.source_url }}" target="_blank">{{ post.title }}</a></b></h6>
                                <div class="media text-muted pt-3">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">{{ post.short_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
